.CodeMirror{
    height: 90% !important;
}

.code-editorfull{
    width: 33.3%;
    padding-left: 1.5%;
    padding-right: 1.2%;
    overflow: hidden;
    position: relative;
    background-color: rgb(83, 81, 81);
    padding-bottom: 0.5em;
}

.code-editorcollapse{
    width: 10%;
}
.code-header{
    height: 30px;
    content: attr(title);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 18px;
    color: rgb(248, 246, 246);
    background-color: rgb(8, 8, 8);
}

.collapse-button{
    margin-left: 40%;
}

.editor-box{
    height: 100%;
}