.page{
    background-color:white;
    width: 100%;
    height: 100%;
}

h3{
  padding-left: 2%;
}

.question-page{
    height: 83%;
    width: 100%;
}
.header{
    width:100%;
    height:3.2em;
    margin-bottom: 0;
    align-items: center;
    text-align: center;
    color:aliceblue;
    background-color: rgb(12,12,12);
    display: flex;
}

.userChoice-list{
    margin-left: 5%;
    color: rgb(242, 247, 247);
    cursor: pointer;
    margin-bottom: 2%;
}

.userChoice-list form select{
  font-size: 1em;
  border-radius: 10px;
  background-color: #383838;
  color: white;
}

.userChoice-list form label{
  color:white;
  margin-bottom: 0;
  margin-top: 0;
}

.userChoice-list form select:hover{
  background-color: rgb(28, 28, 29);
}

h1{
    padding-left: 2%;
}
.description{
    margin-right: 3%;
}
.box{
    margin-right: 5%;
}
.button {
  margin-left: 15%;
    background-color:#383838;
    font-size: 1em;
    padding: 0.3em;
    color:white;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background:blue;
    color: white;
    text-decoration: none;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    height:70%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color:black;
  }
  .popup .content {
    text-align: justify;
    white-space: pre;
    color: #333;
    max-height: 90%;
    overflow: auto;
  }
  